/* *{
  text-align: center;
} */
body{
  align-items: center;
  background-image: url(img.jpg), linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
  color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
table, th, td {
  border: 1px solid rgb(67, 143, 6);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-size: x-large;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 126, 236);
  box-shadow: 2px 2px 2px rgb(133, 177, 129);
}
table.center {
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
table{
  width: 50%;
  height: 5rem;
}
P{
  color: cyan;
}
input{
  opacity: 0.5;
  border-radius: 3px;
  border-color: aqua;
}
button{
  border-radius: 3px;
  background-color: rgba(200, 255, 0, 0.432)  ;
  border: 0px;
  box-shadow: 1px 1px 2px rgb(93, 151, 103);
}

button:hover{
  background-color: cornsilk;
  opacity: 0.5;
}
a{
  text-decoration: none;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.678);
  border: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 5px;
  transition: width 2s;
}
a:hover{
  background-color: rgba(238, 238, 238, 0.479);
  color: greenyellow;
  width: max-content;
}
p.thk{
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: xx-large;
}

.div{
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.submit:hover{
  background-color: rgb(20, 108, 190);
  color: #fff;
  border-radius: 2px, solid;
}
